<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <connectionStrings>
    <add name="OsbideContext" connectionString="data source=localhost\SQLEXPRESS;Database=osbide;Trusted_Connection=yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>