<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="OSBLEFromEmail" value="noreply@osble.org" xdt:Transform="Insert"/>
    <add key="RecaptchaPublicKey" value="6LdYIcUSAAAAACaakdgBzvPQEAzrl4RN2V36STmZ" xdt:Transform="Insert"/>
    <add key="RecaptchaPrivateKey" value="6LdYIcUSAAAAAIWz4qDJFVzINkcnU11BM_scM1gr" xdt:Transform="Insert"/>
  </appSettings>

  <connectionStrings>
    <add
      name="OsbideContext"
      connectionString="Data Source=localhost;Initial Catalog=osble_aspnetdb;Integrated Security=False;User ID=osbideDb;Password=h3lpl4b"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"
      />
    <add
      name="OSBIDE.Library.Models.OsbideContext"
      connectionString="Data Source=localhost;Initial Catalog=osble_aspnetdb;Integrated Security=False;User ID=osbideDb;Password=h3lpl4b"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"
      />
  </connectionStrings>
</configuration>