<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://osbidetest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>osbidetest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$osbidetest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OSBIDE.Library.Models.OsbideContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tf9len40ol.database.windows.net,1433;Initial Catalog=osbide_v2;User ID=osbidedb@tf9len40ol;Password=123EWQazxc" Name="Data Source=tcp:tf9len40ol.database.windows.net,1433;Initial Catalog=osbide_v2;User Id=osbidedb@tf9len40ol;Password=123EWQazxc" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OSBIDE.Library.Models.OsbideContext, OSBIDE.Library" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OsbideReleaseContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:tf9len40ol.database.windows.net,1433;Initial Catalog=osbide_v2;User ID=osbidedb@tf9len40ol;Password=123EWQazxc" Name="Data Source=tcp:tf9len40ol.database.windows.net,1433;Initial Catalog=osbide_v2;User Id=osbidedb@tf9len40ol;Password=123EWQazxc" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=osbide;Integrated Security=False;User ID=user;Password=pass" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OsbideReleaseContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=osbide;Integrated Security=False;User ID=user;Password=pass" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OsbideDebugContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:tf9len40ol.database.windows.net,1433;Initial Catalog=osbide_v2;User ID=osbidedb@tf9len40ol;Password=123EWQazxc" Name="Data Source=tcp:tf9len40ol.database.windows.net,1433;Initial Catalog=osbide_v2;User Id=osbidedb@tf9len40ol;Password=123EWQazxc" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\SQLEXPRESS;Initial Catalog=osbide;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OsbideDebugContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=localhost\SQLEXPRESS;Database=osbide;Trusted_Connection=yes;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OSBIDE.Library.Models.OsbideContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tf9len40ol.database.windows.net,1433;Initial Catalog=osbide_v2;User Id=osbidedb@tf9len40ol;Password=123EWQazxc</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OsbideDebugContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tf9len40ol.database.windows.net,1433;Initial Catalog=osbide_v2;User Id=osbidedb@tf9len40ol;Password=123EWQazxc</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OsbideReleaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tf9len40ol.database.windows.net,1433;Initial Catalog=osbide_v2;User Id=osbidedb@tf9len40ol;Password=123EWQazxc</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="OSBIDE.Library.Models.OsbideContext" />
  </ItemGroup>
</Project>