@{
    ViewBag.Title = "RequiresActiveVsConnection";
}
<h1>Active Visual Studio Connection Required</h1>
<p>
    In order to access this page, you must maintain an active connection to OSBIDE through Visual Studio.  
</p>
