@model OSBIDE.Data.DomainObjects.Criteria

@using OSBIDE.Web.Models.Analytics

<div data-wzstep="@WizardSteps.Criteria">

    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
            <h2>Enter Data Criteria</h2>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-xs-2 control-label">Date</label>
        <div class="col-xs-2">
            <input class="form-control" name="DateFrom" placeholder="from" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" name="DateTo" placeholder="to" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-2"><input class="form-control" name="NameToken" /></div>
    </div>
    <div class="row form-group">
        <label class="col-xs-2 control-label">Gender</label>
        <div class="col-xs-2">
            <select class="form-control" name="Gender">
                <option value=""></option>
                <option value="3">Female</option>
                <option value="2">Male</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-xs-2 control-label">Age</label>
        <div class="col-xs-2">
            <input class="form-control" name="AgeFrom" placeholder="from" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" name="AgeTo" placeholder="to" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-xs-2 control-label">Course</label>
        <div class="col-xs-2"><input class="form-control" name="Course" /></div>
    </div>
    <div class="row form-group">
        <label class="col-xs-2 control-label">Year</label>
        <div class="col-xs-2"><input class="form-control" name="Year" /></div>
    </div>
    <div class="row form-group">
        <label class="col-xs-2 control-label">Grade</label>
        <div class="col-xs-2">
            <input class="form-control" name="GradeFrom" placeholder="from" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" name="GradeTo" placeholder="to" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-xs-2 control-label">Overall Grade</label>
        <div class="col-xs-2">
            <input class="form-control" name="OverallGradeFrom" placeholder="from" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" name="OverallGradeTo" placeholder="to" />
        </div>
    </div>

</div>