<div class="row form-group">
    <label class="col-xs-2 control-label">touched-multiplier</label>
    <div class="col-xs-3">
        <input class="form-control" id="touchedMultiplier" name="TouchedMultiplier" />
    </div>
</div>
<div class="row form-group">
    <label class="col-xs-2 control-label">eline-range</label>
    <div class="col-xs-3">
        <input class="form-control" id="elineRange" name="ElineRange" />
    </div>
</div>
<div class="row form-group">
    <label class="col-xs-2 control-label">eline-penalty</label>
    <div class="col-xs-3">
        <input class="form-control" id="elinePenalty" name="ElinePenalty" />
    </div>
</div>
<div class="row form-group">
    <label class="col-xs-2 control-label">etype-same-penalty</label>
    <div class="col-xs-3">
        <input class="form-control" id="etypeSamePenalty" name="EtypeSamePenalty" />
    </div>
</div>
<div class="row form-group">
    <label class="col-xs-2 control-label">etype-diff-penalty</label>
    <div class="col-xs-3">
        <input class="form-control" id="etypeDiffPenalty" name="EtypeDiffPenalty" />
    </div>
</div>
