@using OSBIDE.Web.Models.Analytics

<div data-wzstep="@WizardSteps.Results">

    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-4">
            <h2>Procedure Results</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-1">
            <input type="radio" name="ViewType" id="viewtype" value="grid" />
            <label for="viewtype">Tabular</label>
        </div>
        <div class="col-xs-1">
            <input type="radio" name="ViewType" id="viewtype" value="graph" />
            <label for="viewtype">Graphic</label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-8">
            <img src="/Content/icons/chartsample.png" class="img-rounded">
        </div>
    </div>

</div>