<div data-type="legend-minute-view" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Social Event Legend</th>
                </tr>
            </thead>
            <tr>
                <td class="col-xs-3">QP: Question posted</td>
                <td class="col-xs-3">NP: Non-question posted</td>
            </tr>
            <tr>
                <td>QF: Follow-up to own question</td>
                <td>NF: Follow-up to own non-question</td>
            </tr>
            <tr>
                <td>RQ: Response to question received</td>
                <td>RN: Response to non-question receieved</td>
            </tr>
            <tr>
                <td>QR: Reply to other's question posted</td>
                <td>NR: Reply to other's non-question posted</td>
            </tr>
        </table>
    </div>
</div>
<div data-type="legend-minute-view" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">State Legend</th>
                </tr>
            </thead>
            <tr>
                <td colspan="2"><div class="legend color idle">&nbsp;</div>Idle</td>
            </tr>
            <tr>
                <td class="col-xs-6"><div class="legend edit">??</div>Editing: SynCorrect: ?; SemCorrect: ?</td>
                <td><div class="legend debug">D?</div>Debugging: SemCorrect: ?</td>
            </tr>
            <tr>
                <td><div class="legend edit">Y?</div>Editing: SynCorrect: Yes; SemCorrect: ?</td>
                <td><div class="legend debug">DN</div>Debugging: SemCorrect: No</td>
            </tr>
            <tr>
                <td><div class="legend edit">YN</div>Editing: SynCorrect: Yes; SemCorrect: No</td>
                <td><div class="legend run">R?</div>Running: SemCorrect: ?</td>
            </tr>
            <tr>
                <td><div class="legend edit">N?</div>Editing: SynCorrect: No; SemCorrect: ?</td>
                <td><div class="legend run">RN</div>Running: SemCorrect: No</td>
            </tr>
            <tr>
                <td><div class="legend edit">NN</div>Editing: SynCorrect: No; SemCorrect: No</td>
                <td><div class="legend run">R/</div>Running: Last Successful Build</td>
            </tr>
        </table>
    </div>
</div>
