@model List<OSBIDE.Web.Models.Analytics.ProcedureDataItem>

@using OSBIDE.Web.Helpers

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

<script type="text/javascript">

    $(document).ready(function () {
    
        Highcharts.setOptions({
            lang: {
                contextButtonTitle: "Export Commands"
            }
        });

        $("#container").highcharts({
            chart: {
                type: "column"
            },
            title: {
                text: ""
            },
            navigation: {
                menuItemStyle: {
                    padding: "5px",
                    color: '#303030'
                }
            },
            xAxis: {
                categories: @Html.Raw(Model.Select(m=>m.Name).ToJson())
            },
            yAxis: {
                min: 0,
                title: {
                    text: "EQs"
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: "EQ",
                data: @Model.Select(m=>m.Score).ToJson()
            }]
        });
    });

</script>
