@using OSBIDE.Web.Models.ViewModels
@using OSBIDE.Web.Models
@using OSBIDE.Library.Models
@model CoursesViewModel
@{
    ViewBag.Title = "Course Search";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
}
<h2>Courses Available At @Model.CurrentUser.SchoolObj.Name</h2>
<div>
    <h3>Course Prefixes</h3>
</div>
<div>
    <h3>Course Names</h3>
</div>
<div>
    <h3>Course Description</h3>
</div>